* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.InputField {
    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*文字設定*/
    font-weight: bold;
    font-size: 25px;

    /*飾り設定*/
    border: none;
    border: 2px solid #C9C9CB;
    border-radius: 8px;

    /*余白設定*/
    padding-left: 1%;

    /*背景設定*/
    background-color: #FFFFFF;
}
