* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

.ConfirmButton {
    /*背景設定*/
    background-color: #504FE7;

    /*文字設定*/
    color: white !important;
    font-weight: bold;
    white-space: nowrap;
}

.ConfirmButton p {
    /*文字設定*/
    color: white !important;
}